div a img {
	max-height: 200px;
	max-width: 300px;
	position: relative;
	top: 165px;
	left: 800px;
}

ul li {
	display: inline;
	float: right;
	padding: 0px 20px 0px 20px;
}

div form {
	position: absolute;
	left: 650px;
	top: 300px;
	border: 1px solid #D9D9D9;
}

div form input {
	font-size: 16pt;
	height: 35px;
}

.search {
	display: inline;
	position: relative;
	clear: both;
	margin: 10px;
	padding: 12px 20px 12px 12px;
	background-color: #F2F2F2;
	border-radius: 5%;
	font-family: Arial;
	font-size: 14px;
	left: 775px;
	top: 275px;
}

.search:hover {
	border: 1px solid black;
}

.footers {
	background-color: #F2F2F2;
	height: 45px;
	position: relative;
	bottom: 0px;
	top: 820px;
}

#left-foot {
	float: left;
}

#right-foot {
	float: right;
}